@typeparam TItem

<Table TItem="TItem" IsBordered="true" IsStriped="true" TableColumns="TableColumns" ShowToolbar="true" ShowExtendButtons="true" IsTree="IsTree" TreeNodeConverter="TreeNodeConverter" IsPagination="IsPagination" PageItemsSource="new []{10,20,50}" OnSaveAsync="OnSaveAsync" OnDeleteAsync="OnDeleteAsync"  IsMultipleSelect="IsMultipleSelect"  ShowExtendEditButtonCallback="ShowExtendEditButtonCallback" ShowExtendDeleteButtonCallback="ShowExtendDeleteButtonCallback" BeforeRowButtonTemplate="BeforeRowButtonTemplate" RowButtonTemplate="RowButtonTemplate"></Table>
