@page "/"
@using Microsoft.AspNetCore.Authorization;

@attribute [Authorize]


<PageTitle>Home</PageTitle>

<h2>@Hello</h2>


<Button Text="Click me" OnClick="ClickMe"></Button>

@code{
    private string Hello = "hello world";
    private void ClickMe()
    {
        Hello = "hello Blzaor";
    }
}